@()(implicit requestContext: RequestContext)

@Main {
<div class="container">
	<h1>Nutzereinstellungen</h1>

	<h2>Account-Informationen</h2>
	<form method="POST" action='@routes.Application.profilePost'>
		<table class="table">
			<tbody>
				<tr>
					<td>Nutzername</td>
					<td>@requestContext.user.get.name</td>
				</tr>
				<tr>
					<td>Vorname</td>
					<td><input name="firstName" type="text" value='@requestContext.user.get.firstName' /></td>
				</tr>
				<tr>
					<td>Nachname</td>
					<td><input name="lastName" type="text" value='@requestContext.user.get.lastName' /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input name="email" type="text" value='@requestContext.user.get.email' /></td>
				</tr>
				<tr>
					<td>Universität</td>
					<td><input name="university" type="text" value='@requestContext.user.get.university' /></td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="section" value="account" />
		<input type="submit" class="btn btn-primary" value="Ändern" />
	</form>

	<h2>Passwort ändern</h2>
	<form method="POST" action='@routes.Application.profilePost'>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="pw1">Neues Passwort</label><br />
				<input class="form-control" name="pw1" type="password" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="pw2">Passwort wiederholen</label><br />
				<input class="form-control" name="pw2" type="password" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<input type="submit" class="btn btn-primary" />
			</div>
		</div>
		<input type="hidden" name="section" value="cpw" />
	</form>
</div>
}
